.button {
    padding: 8px, 12px;
    background-color: saddlebrown;
    border: 1px solid grey;
    cursor: pointer;
}
.white {
    background-color: white;
    color: rebeccapurple;
    border: 2px solid blue;
}
.brown{
    background-color: brown;
    color: yellow;
    border: 2px solid white;
    border-radius: 19px;
}
.round-black{
    background-color: black;
    color: white;
    border: 3px solid white;
    border-radius: 40px;
}